@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Rubik:wght@400;500&display=swap');

html, body, #root {
   height: 100%;
}

body {
   margin: 0;
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #1f2140;
   color: #d7def9;
}

h1 {
   font-family: "Dongle", sans-serif;
   font-size: 4rem;
   margin-top: 0.25rem;
   margin-bottom: 0;
}

p {
   margin: 0;
}

.main-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: min(90vw, 480px);
}

.chakra-progress,
.chakra-progress > svg {
   line-height: 0;
   width: 100%;
   height: 100%;
}

.display-container {
   position: relative;
   width: 100%;
}

.display-container::before {
   content: "";
   position: absolute;
   top: 0;
   background: rgb(20,24,51);
   background: linear-gradient(135deg, #141833 0%, #292d50 100%);
   border-radius: 50%;
   width: 100%;
   height: 100%;
   z-index: -1;
   box-shadow: 5px 10px 20px 5px #141833, -5px -5px 20px #292d50;
}

.display-container::after {
   content: "";
   position: absolute;
   top: 3.5%;
   left: 3.5%;
   z-index: -1;
   background: rgb(20,24,51);
   border-radius: 50%;
   width: 93%;
   height: 93%;
}

.text-box {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.timer-label {
   position: absolute;
   top: 28%;
}

.time-left {
   font-size: 5.5rem;
   font-weight: 500;
   letter-spacing: -0.1rem;
   margin: 0;
}

.icon-container {
   display: flex;
   align-items: center;
   position: absolute;
   bottom: 18%;
   width: 100%;
   justify-content: center;
   margin-left: 0.65rem;
}

.restart-icon {
   width: 3.475rem;
   margin-left: 0.5rem;
}

.fas {
   font-size: 2rem;
   background: -webkit-linear-gradient(
      335deg,
      red,
      rgb(255, 94, 0),
      orange,
      yellow
   );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* controls component */
.controls-container {
   display: flex;
   gap: 1rem;
}